@import url("https://fonts.googleapis.com/css?family=Raleway:700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #0460ba;
  line-height: 1.8rem;
  font-stretch: semi-condensed; }

@keyframes navAppear {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  40% {
    transform: translateY(0); }
  100% {
    opacity: 1; } }

@-webkit-keyframes logo {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes logo {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

.card {
  position: relative;
  margin-top: 10rem;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0.25rem 0.7rem rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  transition: all .3s ease; }
  .card:hover {
    transform: translateY(-2rem) scale(1.02);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15); }
  .card:hover .card__details-hidden {
    opacity: 1;
    transform: translateY(0); }
  .card__side {
    width: 100%;
    height: 60rem; }
    .card__side--front {
      background: linear-gradient(to bottom, rgba(4, 139, 186, 0.1), transparent); }
  .card__pic {
    height: 39%;
    border-radius: 2rem 2rem 0 0;
    background-size: cover;
    background-position: top;
    clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0); }
    .card__pic--1 {
      background-image: linear-gradient(to left, rgba(5, 72, 127, 0.5), rgba(102, 198, 26, 0.1)), url(/img/personal-alarm2.jpg); }
    .card__pic--2 {
      background-image: linear-gradient(to left, rgba(148, 214, 97, 0.5), rgba(4, 96, 186, 0.1)), url(/img/home-alarm2.jpg); }
    .card__pic--3 {
      background-image: linear-gradient(to left, rgba(4, 96, 186, 0.5), rgba(148, 214, 97, 0.5)), url(/img/workplace-alarm.jpg); }
  .card__heading {
    margin-top: 2rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center; }
  .card__details ul {
    margin: 4rem 0;
    font-size: 1.5rem;
    list-style-type: none; }
  .card__details li {
    margin: 0 auto;
    text-align: center;
    color: #05487f;
    padding: 1.5rem 2.5rem; }
    .card__details li:not(:last-child) {
      border-bottom: solid 0.1rem rgba(4, 96, 186, 0.4);
      width: 70%; }
  .card__details-hidden {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    border-radius: 0 0 2rem 2rem;
    transform: translateY(100%);
    transition: all .3s ease; }
    .card__details-hidden--1 {
      background-color: #0460ba;
      color: #edefef; }
    .card__details-hidden--2 {
      background-color: #66c61a;
      color: #edefef; }
    .card__details-hidden--3 {
      background-color: #05487f;
      color: #edefef; }
    .card__details-hidden--heading {
      font-size: 1.8rem;
      margin-top: 3rem;
      text-align: center;
      color: #edefef; }
    .card__details-hidden--desc {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      color: #edefef;
      font-size: 1.4rem;
      text-align: center;
      padding-bottom: 3rem; }
    .card__details-hidden--btn, .card__details-hidden:link {
      position: absolute;
      left: 50%;
      bottom: 11%;
      transform: translate(-50%, 0) scale(1);
      color: #0460ba;
      text-decoration: none;
      background-color: #edefef;
      padding: 1rem 2.5rem;
      box-shadow: 0 0.25rem 0.7rem rgba(0, 0, 0, 0.3);
      border-radius: .5rem;
      font-weight: bold;
      transition: all .1s ease; }
      .card__details-hidden--btn:hover, .card__details-hidden--btn:focus, .card__details-hidden:link:hover, .card__details-hidden:link:focus {
        color: #66c61a;
        transform: translate(-50%, 0) scale(1.05); }

.service-cards {
  padding: 6rem;
  perspective: 190rem;
  -moz-perspective: 190rem;
  position: relative; }
  .service-cards__side {
    border-radius: .8rem;
    box-shadow: 0 0.25rem 0.7rem rgba(0, 0, 0, 0.3);
    padding: 2rem;
    backface-visibility: hidden; }
    .service-cards__side--front {
      height: 50rem; }
    .service-cards__side--back {
      transform: rotateY(-180deg); }
      .service-cards__side--back-1 {
        background-image: linear-gradient(to right bottom, #0d88cc, #edefef); }
  .service-cards:hover .service-cards__side--front {
    transform: rotateY(180deg); }
  .service-cards:hover .service-cards__side--back {
    transform: rotateY(0); }
  .service-cards__pic {
    background-size: cover;
    height: 20rem; }
    .service-cards__pic--1 {
      background-image: linear-gradient(to right bottom, rgba(4, 96, 186, 0.2), rgba(102, 198, 26, 0.2)), url(/img/help.jpg); }
    .service-cards__pic--icon {
      position: relative;
      top: 10%;
      left: 10%;
      transform: translate(-5%, -5%);
      font-size: 3rem;
      color: rgba(4, 96, 186, 0.8); }
  .service-cards__heading {
    position: absolute;
    top: 30%;
    font-size: 2rem;
    color: #edefef;
    text-align: right;
    line-height: 1.5; }
  .service-cards__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone; }
    .service-cards__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(13, 136, 204, 0.8), rgba(148, 214, 97, 0.8)); }

.header {
  top: 3rem;
  width: 100%;
  background-color: transparent;
  height: 7rem; }
  .header__logo {
    display: block;
    position: fixed;
    width: 22rem;
    top: 2.2rem;
    left: 5rem;
    -webkit-animation: logo 1.1s both;
    animation: logo .4s both; }
  .header__list {
    display: block;
    position: fixed;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    font-weight: 600; }
  .header__item {
    margin-right: 2rem;
    display: inline-block; }
  .header__link {
    text-decoration: none;
    color: #0d88cc;
    padding: 1rem 2.5rem; }
    .header__link:hover, .header__link:focus {
      color: #66c61a; }

.social {
  position: fixed;
  top: 3rem;
  right: 27rem;
  z-index: 100; }
  .social__icon {
    margin-right: 4rem; }
    .social__icon--fb {
      width: 2rem;
      height: 2rem;
      transform: translateY(-0.15rem); }
    .social__icon--twitter {
      width: 2.1rem;
      height: 2.1rem; }

.contact {
  position: fixed;
  top: 1rem;
  right: 5rem;
  color: #edefef;
  line-height: 1.7;
  text-align: center;
  z-index: 70; }
  .contact__title {
    font-size: 1.4rem; }
  .contact__number {
    letter-spacing: .2rem;
    font-size: large; }

.btn-top {
  position: fixed;
  bottom: 5rem;
  right: 7rem;
  color: #0460ba;
  font-size: 4rem; }

.fas {
  display: none; }

/*************** SCROLLED ****************/
.header-scrolled {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(5, 72, 127, 0.89);
  box-shadow: 0 0.25rem 0.7rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  height: 7rem;
  animation: navAppear .5s; }
  .header-scrolled__logo {
    display: none;
    position: fixed;
    width: 22rem;
    top: 1.6rem;
    left: 7rem; }
  .header-scrolled__list {
    display: none;
    position: fixed;
    top: 1.6rem;
    left: 50%;
    font-size: 1.4rem;
    transform: translateX(-50%);
    list-style: none;
    font-weight: 600; }
  .header-scrolled__item {
    padding: 1rem 2.5rem;
    display: inline-block; }
  .header-scrolled__link {
    text-decoration: none;
    color: #edefef; }
    .header-scrolled__link:hover, .header-scrolled__link:focus {
      color: #66c61a; }
  .header-scrolled .social-scrolled {
    display: none;
    position: fixed;
    top: 2.5rem;
    right: 27rem;
    z-index: -100; }
    .header-scrolled .social-scrolled__icon {
      margin-right: 4rem; }
      .header-scrolled .social-scrolled__icon--fb {
        width: 1.8rem;
        height: 1.8rem;
        transform: translateY(-0.15rem); }
      .header-scrolled .social-scrolled__icon--twitter {
        width: 2.1rem;
        height: 2.1rem; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero__para {
    position: absolute;
    top: 40%;
    left: 15%;
    width: 50rem; }
  .hero__btn {
    position: absolute;
    top: 60%;
    left: 15%;
    padding: 1.5rem 2.5rem;
    border-radius: .5rem;
    cursor: pointer;
    text-decoration: none;
    color: #edefef;
    transition: all .2s; }
    .hero__btn:link, .hero__btn:visited {
      background: linear-gradient(to left bottom, #0460ba 0%, #048bba 80%); }
    .hero__btn:hover {
      background: linear-gradient(to right top, #66c61a 0%, #116096 100%);
      transform: translateY(-0.2rem) scale(1.005);
      box-shadow: 0 0.3rem 1rem rgba(33, 33, 33, 0.3); }
    .hero__btn:active {
      box-shadow: inset 0 0.3rem 1rem rgba(33, 33, 33, 0.9);
      box-shadow: 0 0.1rem 0.3rem rgba(33, 33, 33, 0.7);
      transform: translateY(0) scale(1); }
  .hero__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 70rem;
    z-index: -100; }

.rotating-text {
  position: absolute;
  top: 12.5%;
  left: 15%;
  line-height: 5;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 6rem;
  color: white;
  transform: translateX(-80px);
  width: 50rem;
  margin-left: 8rem; }
  .rotating-text--title {
    color: #0460ba;
    font-size: 6rem; }

.rotating-text p {
  position: absolute;
  margin: 0;
  top: 20%; }

.rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0; }

.rotating-text p .word .letter {
  transform-origin: center center 2.5rem; }

.rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2); }

.rotating-text p .word .letter.in {
  transition: 0.38s ease; }

.rotating-text p .word .letter.behind {
  transform: rotateX(-90deg); }

.protect {
  color: #0d88cc; }

.secure {
  color: #94d661; }

.cover {
  color: #0460ba; }

.safeguard {
  color: #05487f; }

.keep {
  color: #66c61a; }

.row {
  max-width: 150rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 8rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 8rem) / 3) + 8rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 8rem) / 4); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 8rem) / 4) + 2 * 8rem); }

.products__header {
  width: 150rem;
  height: 50rem;
  margin: 0 auto;
  background: transparent;
  border-radius: 1rem;
  border-color: white;
  border-style: solid;
  border-width: thick;
  box-shadow: 0 0.25rem 0.7rem rgba(0, 0, 0, 0.3); }
  .products__header--title {
    position: absolute;
    top: 8rem;
    font-size: 5rem;
    margin-left: 10rem;
    color: #0d88cc; }
  .products__header--desc {
    position: absolute;
    width: 25%;
    top: 12rem;
    margin-left: 10rem;
    color: #0d88cc;
    font-size: 1.3rem;
    padding-bottom: 5rem;
    border-bottom: 0.1rem solid #0d88cc; }
  .products__header--img {
    background-image: url(/img/home-alarm.jpg);
    background-size: cover;
    background-position: center;
    border-left: 0.2rem solid #0d88cc;
    border-radius: 0 1rem 1rem 0;
    width: 50%;
    height: 100%;
    float: right;
    top: 0; }

.services__header--bg {
  position: absolute;
  width: 100%;
  height: 85%;
  background-image: linear-gradient(to left, #05487f, rgba(17, 2, 100, 0.6), rgba(102, 198, 26, 0.3)), url(/img/hewtechservicephoto.jpg);
  background-position: top;
  background-size: cover; }

.services__header--title {
  position: absolute;
  right: 15%;
  padding-top: 17rem;
  text-transform: capitalize;
  width: 45rem;
  color: white;
  font-size: 6rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: #0d88cc; }

.services__header--desc {
  position: absolute;
  right: 15%;
  padding-top: 25rem;
  width: 45rem;
  color: white;
  font-size: 1.8rem;
  font-weight: 100;
  letter-spacing: .1rem;
  line-height: 1.2; }

.services__header--btn {
  position: absolute;
  right: 26%;
  margin-top: 39rem;
  background-color: #0d88cc;
  width: 18rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 0.25rem 0.7rem rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: 600;
  color: #edefef;
  text-decoration: none;
  border-radius: .3rem;
  cursor: pointer;
  transition: all .2s ease; }
  .services__header--btn:hover, .services__header--btn:active {
    color: #66c61a;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
    transform: scale(1.05); }

.services__header--box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50rem;
  width: 150rem;
  background-color: white;
  height: 70rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  border-radius: .7rem; }
  .services__header--box h4 {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 4rem; }
  .services__header--box p {
    text-align: center;
    margin-top: 2rem;
    color: #0d88cc; }

#navBar {
  display: block; }

#navBarScrolled {
  background-color: #05487f;
  box-shadow: 0 0.25rem 0.7rem rgba(0, 0, 0, 0.3); }

#main {
  height: 95vh; }

#productSection {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 16rem; }

#btnTop {
  position: relative;
  z-index: 1000; }

#servicesSection {
  height: 200vh;
  z-index: -1000; }

.products {
  position: relative; }
  .products__bg {
    background-image: url(/img/product-bg.png);
    background-size: cover; }
