//main colours

$blue: #0460ba;
$green: #66c61a;
$blue-2: #05487f;

//gradient

$gradient: linear-gradient(to left bottom, rgba($blue, 1)0%, rgba(#048BBA, 1) 80%);
$gradient-2: linear-gradient(to right top, rgba($green, 1)0%, rgba(#116096, 1) 100%);


//main colours on dark bg's

$blue-light: #0d88cc;
$green-light: #94d661;
$blue-2-light: #116096; 
$green-dark: #287a5b;

//greyscale

$black: #212121;
$grey-dark: #5b5b5b;
$grey-light: #a0a8a7;
$white: #edefef;

//fonts

$font-1: 'Montserrat', sans-serif;
$font-2:  'Raleway', sans-serif;

// Shadows

$shadow:  .5 .5rem 1.5rem rgba(0, 0, 0, .4);
$shadow-1: 0 1rem 3rem rgba(0, 0, 0, .15);
$shadow-2: .7rem .7rem 2.5rem rgba(0, 0, 0, .3);

// Grid

$grid-width: 120rem;
$gutter-width: 6rem;
$gutter-height: 6rem;



