//main colours

$blue: #0460ba;
$green: #66c61a;
$blue-2: #05487f;

//main colours on dark bg's

$blue-light: #0d88cc;
$green-light: #94d661;
$blue-2-light: #116096; 

//greyscale

$black: #212121;
$grey-dark: #5b5b5b;
$grey-light: #a0a8a7;
$white: #edefef;

//fonts

$font-1: 'Montserrat', sans-serif;
$font-2:  'Raleway', sans-serif;

// Shadows

$shadow: 0 .25rem .7rem rgba(0, 0, 0, .2);



