  /******* about header ********/
  .header-box {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
      
  @include respond(tab-port-large) {
    width: 80%;
  }

  @include respond(tab-port) {
    display: block;
  }
  
  }
  .about-header {
    height: 62rem;
    background-color: $blue-light;
    font-size: 2rem;

    @include respond(tab-port) {
      margin-top: 5rem;
      text-align: center;
    }
  
    & h1,
    h4 {
      color: white;
      line-height: 1.4;
      margin-top: 14.5rem;

      @include respond(tab-port) {
        margin-top: 5rem;
      }
  
      & span,
      a {
        color: $green;
        text-decoration: none;
        display: inline-block;
        transition: all 0.2s ease;
      }
    }
  }
  
  .about-img {
    background-image: url(../img/hero.jpg);
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
    background-size: cover;
    background-position: center;
    height: 62rem;
    width: 100%;

    @include respond(tab-port) {
      clip-path: none;
      margin: 4rem auto;
      height: 30rem; 
    }
  }
  
  .about-link {
    padding: 1rem 2rem;
    background-color: $blue-light;
  
    &:hover {
      box-shadow: $shadow;
      transform: rotate(-2deg) scale(1.05);
    }
  }
  
  
  /******* Main ********/

.about-main {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  
  @include respond(tab-port-large) {
    max-width: 80%;
  }

  &__icon {
    font-size: 5rem;
    margin: 5rem 0 2rem 0;
    color: $blue-2;
  }

  &__title {
    padding: 2rem;
    font-size: 2.5rem;
  }

  &__prg {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    width: 100%;
    margin: 2rem auto;
  }

  /******* CEO Desc ********/

  &__ceo {

    &--photo {
      width: 100%;

      @include respond(tab-port-med) {
        border-radius: 50%;
      }
    }
  }

  &__ceo-desc {
    margin-top: 9rem;

    &--name {
      font-weight: bold;
      font-size: 2.2rem;
    }
    &--title {
      color: $green;
      font-weight: bold;
      font-size: 1.4rem;
      margin: 2rem
    }
    &--prg {
      padding: 3rem;
      text-align: left;
      color: $blue-2;

      @include respond(tab-port) {
        text-align: center;
      }
    }
    &--prg2 {
      padding: 3rem;
      text-align: left;
      color: $blue-light;

      @include respond(tab-port) {
        padding: 1rem 3rem 4rem 3rem;
        text-align: center;
      }
    }

  }
}
.about-cont {
  display: flex;
  align-items: center;

  @include respond(tab-port) {
    display: block;
  }
}