.header-contact {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: $shadow-2;
  z-index: 10;
  height: 7rem;
   }

.cont {
  display: flex;
  max-width: 70%;
  border-radius: 1rem;
  background-color: white;
  box-shadow: $shadow-1;
  padding: 2rem;
  margin: 0 auto;
  
  @include respond(tab-land-small) {
    max-width: 85%;
  }

  &__heading {
    animation: logo 1s ease;
    margin-bottom: 2rem;

    @include respond(tab-land-small) {
      text-align: center;
      margin: 2rem auto;
    }
  }

  &__par {
    color: $blue-light;
    line-height: 1.3;

    @include respond(tab-land-small) {
      text-align: center;
      width: 90%;
      margin: 4rem auto;
    }
  }

  &__form {

    &--heading {
      padding: 2rem 8rem;
      color: $green;
      font-size: 1.7rem;

      @include respond(tab-land-small) {
        padding: 3rem 0;
      }
    }
  }

  &__map {
    position: relative;
    padding: 2rem;
  }
} 

.fb-cont {
  color: $blue-light;
}

.twitter-cont {
  color: $blue-light;
}

.link-cont {
  color: $blue-light;
}
