.cont {
  @include center;
  margin: 5rem auto;
  padding: 5rem;
  width: 85%;
  border-radius: 1rem;
  background-color: white;
  height: 80%;
  box-shadow: $shadow-1;

  &__heading {
    padding: 3rem 0;
  }

  &__par {
    color: $blue-light;
    line-height: 1.3;
  }

  &__form {

    &--heading {
      padding: 3rem 0;
      color: $green;
    }
  }
}
