.footer {
  display: block;
  position: relative;
  max-width: 70%;
  margin: 0 auto;
    
  @include respond(tab-port-large) {
    max-width: 80%;
  }

  &__title {
    text-align: center;
    color: $white;
    text-transform: capitalize;
    font-size: 2.5rem;
    transform: translateY(12rem);

    @include respond(phone) {
    transform: translateY(5rem);
    }

    &--span {
      display: block;
      content: "";
      height: 0.2rem;
      width: 6rem;
      background-color: $green;
      margin: 1rem auto 6rem auto;
      transform: translateY(12rem);

      @include respond(phone) {
        transform: translateY(5rem);
        }
    }
  }

  &__temp {
    margin: 20rem 0;

    @include respond(tab-port) {
      margin: 6rem 0;
    }

    @include respond(phone) {
      text-align: center;
    }

    &--icon {
      font-size: 4rem;
      color: $green;
      padding: 2rem 0;
    }

    &--title {
      color: $white;
    }

    &--prg {
      color: $white;
      font-size: 1.2rem;
      margin: 4rem 0 1.5rem 0;
    }

    &--link {
      color: $green;
      width: 15rem;
      margin-bottom: 10rem;
      padding: 0.8rem 1.3rem;
      text-align: center;
      transition: all 0.2s ease;

      &:link {
        text-decoration: none;
      }

      &:hover {
        box-shadow: $shadow;
      }
    }
  }

  &__contact-box {
    display: flex;
    margin: 5rem auto;

    @include respond(phone) {
      display: inline;
    }
  }

  &__contact {
    display: flex;
    align-content: space-between;
    color: $white;
    margin: 0 auto;

    &--icon {
      font-size: 1.7rem;
      margin-right: 1rem;
      color: $green;
    }
    &--number {
      letter-spacing: 0.15rem;
      width: 30rem;
    }
  }

  &__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;

    &--title {
      text-transform: uppercase;
      margin-right: 2rem;

      @include respond(phone) {
        display: none;
      }
    }

    &--list {
      display: flex;
      justify-items: center;
      list-style-type: none;
      color: $white;
    }

    &--item {
      color: $white;
      padding: 0 1rem;
      font-size: 2rem;
    }

    &--icon {
      color: white;

      &:hover {
        color: $blue-light;
        text-shadow: $shadow;
        animation: pulse 1s ease infinite;
      }
    }
  }

  &__copyright {
      width: 80%;
      margin: 0 auto;
      align-items: center;

    &--span {
      display: block;
      content: "";
      max-width: 100%;
      height: 0.1rem;
      margin: 4rem 0;
      background-color: $white;
    }

    &--prg {
        text-align: center;
        color: $white;
        font-size: 1.1rem;
        padding-bottom: 4rem;
    }
  }
}
