//unscrolled Navbar

.header {
    top: 3rem;
    width: 100%;
    background-color:transparent;
    height: 7rem;

 

    &__logo {
        display: block;
        position: fixed;
        width:22rem;
        top: 2.2rem;
        left: 5rem;
        -webkit-animation: logo 1.1s both;
	    animation: logo .8s both;
    }

    &__list {
        display: block;
        position: fixed;
        top: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
        list-style: none;
        font-weight: 600;
    }

    &__item {
        padding: 1rem 2.5rem;
        display: inline-block;
  
    }

    &__link {
        text-decoration: none;
        color: $blue-light;

        &:hover, 
        &:focus {
            color: $green;
        }
    }
}

.social {
    position: fixed;
    top: 3rem;
    right: 27rem;
    z-index: 100;



    &__icon {
        margin-right: 4rem;
        
        &--fb {
            width:2rem;
            height:2rem;
            transform: translateY(-.15rem);
            
        }

        &--twitter {
            width:2.1rem;
            height:2.1rem;

        }
    }
}

//Contact

.contact {
    position: fixed;
    top: 1rem; 
    right: 5rem;
    color: $white;
    line-height: 1.7;
    text-align: center;
    z-index: 70;

    &__title {
        font-size: 1.4rem;
    }

    &__number {
        letter-spacing: .2rem;
        font-size: large;
    }
}

.btn-top {
    position: fixed;
    bottom: 5rem;
    right: 7rem;
    color: $blue;
    font-size: 4rem;
}

.fas {
    display: none;
}

/*************** SCROLLED ****************/

.header-scrolled {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:rgba($blue-2, .95);
    box-shadow: $shadow;
    z-index: 10;
    height: 7rem;
    animation: navAppear .5s;

    &__logo {
        display: none;
        position: fixed;
        width:22rem;
        top: 1.6rem;
        left: 7rem;
        -webkit-animation: logo 1.1s both;
	    animation: logo .8s both;
    }

    &__list {
        display: none;
        position: fixed;
        top: 1.6rem;
        left: 50%;
        font-size: 1.4rem;
        transform: translateX(-50%);
        list-style: none;
        font-weight: 600;
    }

    &__item {
        padding: 1rem 2.5rem;
        display: inline-block;
  
    }

    &__link {
        text-decoration: none;
        color: $white;

        &:hover, 
        &:focus {
            color: $green;
        }
    }

    // SCROLLED SOCIAL


    .social-scrolled {
        display: none;
        position: fixed;
        top: 2.5rem;
        right: 27rem;
        z-index: -100;

    
        &__icon {
            margin-right: 4rem;
            
            &--fb {
                width:1.8rem;
                height:1.8rem;
                transform: translateY(-.15rem);

             
                
            }
    
            &--twitter {
                width: 2.1rem;
                height: 2.1rem;
            }
        }
    
    }


}


.hero {

    &__title {
        position: absolute;
        font-family: $font-2;
        top: 25%;
        left: 15%;
        font-size: 4rem;

        
    }

    &__title span {
        color: $green;
        font-size: 7rem;
        font-weight: bold;
        display: block;
        margin-top: 3rem;
    }

    &__para {
        position: absolute;
        top: 39%;
        left: 15%;
        width: 45rem;

    } 

    &__btn {
        position: absolute;
        top: 60%;
        left: 15%;
        padding: 1.5rem 2.5rem;
        border-radius: .5rem;
        cursor: pointer;
        text-decoration: none;
        color: $white;
        transition: all .15s;

       &:link,
       &:visited {
        background: $gradient;
       }

       &:hover {
        background: $gradient-2;
        transform: translateY(-.5rem) scale(1.01);
        box-shadow: 0 .3rem 1rem rgba($black, .3);
       }

       &:active {
        box-shadow:inset 0 .3rem 1rem rgba($black, .9);
        box-shadow: 0 .1rem .3rem rgba($black, .7);
        transform: translateY(0) scale(1);
       }
    }

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        width:70rem;
        z-index: -100;
    }
}
