/******* LARGE NAV *******/

.header {
  top: 3rem;
  max-width: 100%;
  background-color: transparent;
  height: 7rem;

  &__logo {
    display: block;
    position: fixed;
    width: 22rem;
    top: 1.5rem;
    left: 5rem;
    -webkit-animation: logo 1.1s both;
    animation: logo 0.4s both;

    @include respond(tab-port-large) {
      width: 18rem;
    }

    @include respond(tab-port-small) {
      display: none;
    }
  }

  &__logo-icon {
    position: fixed;
    display: none;
    width: 22rem;
    top: 1.5rem;
    left: 5rem;
    -webkit-animation: logo 1.1s both;
    animation: logo 0.4s both;
    width: 5rem;

    @include respond(tab-port-small) {
      display: block;
    }
  }

  &__list {
    display: block;
    position: fixed;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    font-weight: 500;
    font-size: 1.4rem;

    @include respond(tab-port-small) {
      display: none;
    }
  }

  &__item {
    margin-right: 2rem;
    display: inline-block;

    @include respond(tab-port-large) {
      margin-right: 0;
    }
  }

  &__icon {
    color: $green;
    margin-right: 1rem;
  }

  &__link {
    text-decoration: none;
    color: $blue-light;
    padding: 1rem 2.5rem;

    @include respond(tab-port-med) {
      padding: 1rem 2.2rem;
    }

    &:hover,
    &:focus {
      color: $green;
    }
  }
}

/******** SOCIAL LINKS *********/

.social {
  position: fixed;
  top: 2.5rem !important;
  right: 26rem;
  z-index: 100;
  font-size: 2rem;

  @include respond (desktop) {
    right: 22rem;
  }

  @include respond(tab-land) {
    display: none;
  }
  

  &__fb,
  &:link {
    margin-right: 2rem;
    transition: all 0.2s ease;
    color: $white;

    @include respond(desktop) {
      color: $blue-light;
    }

    
    &:hover {
      animation: pulse 1s infinite;
      text-shadow: $shadow;
    }
  }

  &__fb--contact,
  &:link {
    color: $blue-light;

    &:hover {
      color: $blue-light;
    }
  }

  &__twitter,
  &:link {
    color: $white;
    transition: all 0.2s ease;

    @include respond(desktop) {
      color: $blue-light;
    }

    &:hover {
      animation: pulse 1s infinite;
      text-shadow: $shadow;
      color: white;
    }
  }

  &__twitter--contact,
  &:link {
    color: $blue-light;

    &:hover {
      color: $blue-light;
    }
  }
}

/********* CONTACT **********/

.contact {
  position: fixed;
  top: 1rem;
  right: 5rem;
  line-height: 1.7;
  text-align: center;
  z-index: 70;

  @include respond(tab-port-small) {
    display: none;
  }

  &__link {
    color: white;
    text-decoration: none;
      
  @include respond(desktop) {
    color: $blue-light;
  }
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 0.5rem;
  }

  &__number {
    letter-spacing: 0.2rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

/*************** SCROLLED ****************/

.header-scrolled {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: $shadow;
  z-index: 10;
  height: 7rem;
  animation: navAppear 0.5s;

  &__logo {
    display: none;
    position: fixed;
    width: 19rem;
    top: 1.7rem;
    left: 5.5rem;

    @include respond(tab-port-small) {
      display: none;
      opacity: 0;
    }

  }
}

/******* Social Scrolled *******/

.social-scrolled {
  display: none;
  position: fixed;
  top: 2.5rem !important;
  right: 26rem;
  z-index: 100;
  font-size: 2rem;

  @include respond (desktop) {
    right: 22rem;
  }

  @include respond (tab-land) {
    display: none;
  }

  @include respond(tab-port-large) {
    display: none !important;
  }



  &__fb,
  &:link {
    margin-right: 2rem;
    transition: all 0.2s ease;
    color: $blue-light;
  }

  &__twitter,
  &:link {
    color: $blue-light;
    transition: all 0.2s ease;

    &:hover {
      animation: pulse 1s infinite;
      text-shadow: $shadow;
      color: white;
    }
  }
}

/******* Contact Scrolled *******/

.contact-scrolled {
  display: none;
  position: fixed;
  top: 1rem;
  right: 5rem;
  line-height: 1.7;
  text-align: center;
  z-index: 70;

  @include respond(tab-port-small) {
    display: none !important;
  }

  &__link {
    color: $blue-light;
    text-decoration: none;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 0.5rem;
  }

  &__number {
    letter-spacing: 0.2rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

/*********------------------- HAMBURGER MENU --------------------***********/

.navigation {
  display: none;

  @include respond(tab-port-small) {
    display: block;
  }

  &__checkbox {
      display: none;
  }

  &__button {
      background-color: white;
      height: 5.7rem;
      width: 5.7rem;
      position: fixed;
      top: 1rem;
      right: 4rem;
      border-radius: 50%;
      z-index: 2000;
      text-align: center;
      cursor: pointer;
  }

  &__background {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      position: fixed;
      top: 1.5rem;
      right: 4.7rem;
      background-color: $blue-2;
      z-index: 1000;
      transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &__nav {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;
      transform: translate(-100%);
      opacity: 0;
      width: 0;
      transition: all .8s cubic-bezier(0.68, -0.40, 0.130, 1.20);
      
  }

  &__list {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style-type: none;
      text-align: center;
  }

  &__item {
      margin: 1rem;
  }

  &__link {

      &:link,
      &:visited {
          display: inline-block;
          font-size: 3rem;
          font-weight: 300;
          padding:1rem 2rem;
          color: $green-light;
          text-decoration: none;
          text-transform: uppercase;
          background-image: linear-gradient(120deg, transparent 0%,  transparent 50%, $green 50%);
          background-size: 230%;
          transition: all .4s ease-out;

          span {
              display:inline-block;
              margin-right: 2rem;
          }
      }

      &:hover,
      &:active {
          background-position: 100%;
          color: $blue-2;
          transform: translateX(1rem);
      }
  }

  //Functionality

  &__checkbox:checked ~ &__background {
      transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
      opacity: 1;
      transform: translateX(0);
      width: 100%;
  }

  //Icon
  &__icon {
      position: relative;
      margin-top: 2.8rem;

      @include respond(phone) {
          margin-top: 2.7rem;
      }

      &,
      &::before,
      &::after {
          width: 3rem;
          height: 3px;
          background-color: $blue;
          display: inline-block;
          border-radius: 1.5rem;

          @include respond(phone) {
              width: 2.7rem;
          }
      }

      &::before,
      &::after {
          content: "";
          position: absolute;
          left: 0; 
          transition: all .3s;
      }

      &::before {top: -.9rem;}
      &::after {top: .9rem;}
  }

  &__button:hover &__icon::before {
      top: -1rem;
  }

  &__button:hover &__icon::after {
      top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
      background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
  }
  

}

/*********------------------- HERO SECTION --------------------***********/

.hero {
  display: flex;
  height: 70vh;
  max-width: 70%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;

  @include respond(phone-large) {
    display: block;
    position: relative;
  }

  &__para {
    color: $blue-light;
    width: 50rem;

    @include respond(tab-land) {
      width: 45rem;
    }
    
    @include respond(tab-land-small) {
      width: 40rem;
    }

    @include respond (tab-port) {
      width: 35rem;
    }

    @include respond(phone-large) {
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  /******** ILLUSTRATION **********/

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 43%;
    z-index: -100;
    animation: bgReveal 0.6s ease;
  
    @include respond(desktop) {
      display: none;
    }
  }

  &__illustration {
    align-items: center;
    width: 53rem;
    animation: illReveal 1.6s ease;

    @include respond (desktop) {
      width: 55rem;
    }

    @include respond(tab-land) {
      width: 49rem;
    }

    @include respond(tab-land-small) {
      margin-top: 20rem;
      width: 49rem;
    }

    @include respond(phone-large) {
      text-align: center;
      margin: 4rem auto;
      width: 30rem;
    }
    @include respond(phone) {
      display: none;
    }
  }
}

/****** Rotating text *******/

.rotating-text {
  position: relative;
  line-height: 4.5;
  font-family: $font-2;
  font-weight: 600;
  font-size: 5rem;
  color: white;

  &--title {
    color: $blue-light;
    font-size: 5rem;

    @include respond(phone-large) {
      width: 100%;
      text-align: center;
    }
  }
}

.rotating-text p {
  position: absolute;
  margin: 0;
  top: 20%;
  width: 100%;
}

.rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0;

  @include respond(phone-large) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.rotating-text p .word .letter {
  transform-origin: center center 2.5rem;
}

.rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.rotating-text p .word .letter.in {
  transition: 0.38s ease;
}

.rotating-text p .word .letter.behind {
  transform: rotateX(-90deg);
}

.protect {
  color: $blue-2-light;
}

.secure {
  color: $green-light;
}

.cover {
  color: $blue;
}

.safeguard {
  color: $blue-2;
}

.keep {
  color: $green;
}


/******* BACK TO TOP BTN ********/

.btn-top {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  color: $green;
  font-size: 3rem;
  transition: all 0.15s;

  &__p {
    color: white;
    font-size: 1.2rem;
  }

  &:hover {
    color: $blue;
  }
}