.products {

    &__header {
        width: 90%;
        height: 30rem;
        margin: 0 auto;
        background: $gradient;
        border-radius: 2rem;
        box-shadow: $shadow;


        &--title {
            position: absolute;
            top: 8rem;
            font-size: 5rem;
            margin-left: 10rem;
            color: $white;
        }

        &--desc {
            position: absolute;
            width: 20%;
            top: 12rem;
            margin-left: 10rem;
            color: $white;
        }

        &--img {
        background-image: url(/img/home-alarm.jpg);
         background-size: cover;
         background-position: center;
         border-radius: 0 2rem 2rem 0;
         width: 50%;
         height: 100%;
         float: right;
         top: 0;
        }
    }
}