.products {
  position: relative;
  max-width: 70%;
  margin: 0 auto;

  @include respond(phone) {
    max-width: 85%;
  }
  @include respond(phone-small) {
    max-width: 90%;
  }

  &__bg {
    background-image: url(../img/product-bg.png);
    background-size: cover;
  }


  &__header {
    height: 50rem;
    margin: 0 auto;
    background: white;
    border-color: white;
    border-style: solid;
    border-width: thick;
    box-shadow: $shadow-2;

    &--title {
      position: absolute;
      top: 6.5rem;
      font-size: 5rem;
      margin-left: 10rem;
      color: $blue-light;

      @include respond(tab-land-small) {
        margin-left: 6rem;
        top: 5rem;
        width: 35%;
      }

      @include respond(tab-port-large) {
        font-size: 3rem;
      }
      @include respond(tab-port-med) {
        margin-left: 4rem;
        top: 3rem;
      }
      @include respond(phone-small) {
        position: relative;
        margin: 0 auto;
      }
    }

    &--desc {
      position: absolute;
      width: 30%;
      top: 14rem;
      margin-left: 10rem;
      color: $blue-light;
      font-size: 1.3rem;
      padding-bottom: 5rem;

      @include respond(tab-land-small) {
        margin-left: 6rem;
        top: 12rem;
        width: 35%;
      }
      @include respond(tab-port-med) {
        margin-left: 4rem;
        top: 10rem;
        width: 35%;
      }
      @include respond(phone-med) {
        width: 50%;
      }
      @include respond(phone-small) {
        position: relative;
        width: 90%;
        text-align: center;
        margin: 0 auto;
      }
    }

    &--list {
      position: absolute;
      top: 38rem;
      display: flex;
      align-items: center;
      margin-left: 10rem;

      @include respond(desktop) {
        top: 40rem;
        margin-left: 20rem;
      }

      @include respond(tab-land) {
        display: none;
      }
    }

    &--item {
      list-style-type: none;
      animation: productAppear 1s ease;
    }

    &--img {
      background-image: url(../img/home-alarm.jpg);
      background-size: cover;
      background-position: center;
      width: 50%;
      height: 100%;
      float: right;
      top: 0;

      @include respond(phone-med) {
        width: 30%;
        background-position: 65%;
      }
      @include respond(phone-small) {
        display: none;
      }
    }
  }

  &__img {
    height: 7rem;

    &--2 {
      width: 10rem;
    }
  }
}
