.services {
  &__header {
    

    &--header-box {
      position: absolute;
      text-align: center;
      margin-left: 50%;
      transform: translate(-50%, -20%);
    }

    &--bg {
      position: absolute;
      width: 100%;
      height: 70%;
      background-image: 
      linear-gradient(
          to bottom,
          rgba($blue-2, .9),
          // rgba($blue-light, .3)80%,
          transparent
        ),
        url(../img/hewtechservicephoto.jpg);
      background-size: cover;
      background-repeat: no-repeat;

      @include respond(tab-port-large) {
      }
      @include respond(tab-port-small) {
      }
    }

    &--title {
      padding-top: 17rem;
      text-transform: capitalize;
      color: $green !important;
      font-size: 6rem;
      font-weight: 600;
      font-family: $font-2;
      color: $blue-light;

      @include respond(tab-port) {
        text-align: center;
      }
    }

    &--desc {
      color: white;
      font-size: 1.5rem;
      font-weight: 100;
      letter-spacing: 0.1rem;
      width: 50rem;
      margin: 0 auto;
      line-height: 1.2;
      padding: 2rem 0;
      text-shadow: .2rem .2rem 1rem rgba(0,0,0,.7);

      @include respond(tab-port) {
        text-align: center;
      }
    }

    &--box {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -5%);
      margin-top: 50rem;
      width: 70%;
      background-color: $white;
      height: 65rem;
      box-shadow: $shadow-2;
      padding: 1rem 2rem;

      & h4 {
        font-size: 2.6rem;
        text-align: center;
        margin-top: 2.5rem;
      }

      & p {
        font-size: 1.4rem;
        text-align: center;
        margin-top: 3rem;
      }
    }
  }

  //*********-------------------- REVIEWS --------------------*********

  &__rev-box {
    position: absolute;
    margin: 115rem 0 0 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $blue-light;
    width: 70%;
    height: 57rem;
  }

  &__reviews-box {
    margin: 10rem auto;
    padding: 0 5rem;
    transform: translateY(-8rem);
    width: 70%;
  }

  &__reviews-green {
    margin: 0 auto;
    transform: translateY(50%);
    height: 32rem;
    width: 17rem;
    background-color: $green;
    border-radius: 1rem;
  }

  &__user {
    position: relative;
    margin: 0 auto;
    transform: translateY(-50%);
    width: 23rem;
    height: 27rem;
    background-color: $white;
    padding: 2rem;
    border-radius: 0.2rem;
  }

  &__photo {
    width: 100%;
    height: 80%;
    border: .1rem solid $green-dark;


    &--1 {
      background-image: url(../img/user1.jpg);
      background-size: cover;
      background-position: center;
    }
    &--2 {
      background-image: url(../img/user2.jpg);
      background-size: cover;
      background-position: center;
    }
    &--3 {
      background-image: url(../img/user3.jpg);
      background-size: cover;
      background-position: center;
    }
    &--4 {
      background-image: url(../img/user4.jpg);
      background-size: cover;
      background-position: center;
    }
  }

  &__name {
    font-size: 1.5rem !important;
    transform: translateY(-1rem);
    color: $green-dark !important;
  }

  &__address {
    font-size: 1.3rem !important;
    transform: translateY(-4rem);
    color: $green-dark !important;
  }

  &__reviews-title {
    position: absolute;
    color: $white;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 7rem;
  }

  &__reviews-prg {
    height: 20rem;
    color: $white !important;
    transform: translateY(137%);
    width: 60%;
    text-align: center;
    margin: 0 auto;

    &::before {
      content: "\201C";
      position: absolute;
      top: -8rem;
      left: -10rem;
      font-family: sans-serif;
      font-size: 14rem;
      font-weight: 600;
      color: rgba($black, 0.4);
    }
    &::after {
      content: "\201E";
      position: absolute;
      top: -2rem;
      right: -10rem;
      font-family: sans-serif;
      font-weight: 600;
      font-size: 14rem;
      color: rgba($black, 0.4);
    }
  }

  &__reviews-toggle-container {
    position: absolute;
    left: 51%;
  }

  &__reviews-toggle {
    margin: 2rem 3rem;
  }
}

.glider-next {
  margin-top: 8.5rem;

  color: $white !important;
}
.glider-prev {
  margin-top: 8.5rem;

  color: $white !important;
}

.glider-dots {
  transform: translateY(-8rem);
}
