.btn {
  &,
  &:link,
  &:visited {
    padding: 1.2rem 2.1rem;
    border-radius: .3rem;
    background: $gradient;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 0.07rem;
    transition: all 0.2s;
    letter-spacing: 0.07rem;
    font-size: 1.2rem;
  }

  &:hover {
    background: $gradient-2;
    transform: scale(1.009);
    box-shadow: $shadow-2;

    &:active {
      box-shadow: $shadow;
      transform: scale(0.99);
    }

    &--card {
      margin-top: 10rem;
    }
  }

  &--form {
    font-family: $font-2;
    border: none;
  }
}
.btn--hero {
  position: relative;
  margin-top: 5rem;
  animation: btnReveal 1s ease;

  @include respond (phone-large) {
    margin-top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    animation: none;
  }
}

.btn--services {
  position: relative;
  text-align: center;

  &:hover {
    background: $gradient-2;
    transform: scale(1.009);
    box-shadow: $shadow-2;

    &:active {
      box-shadow: $shadow;
      transform: scale(0.99);
    }
  }
}


.btn-about {
  margin-bottom: 2.5rem;
}

