.btn {

    &,
    &:link,
    &:visited  {
        padding: 1.5rem 2.5rem;
        border-radius: 1rem;
        background: $gradient;
        display: inline-block;
        cursor: pointer;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        color: $white;
        transition: all .2s;
        letter-spacing: .07rem;
    }
 

   &:hover {
    background: $gradient-2;
    transform: scale(1.009);
    box-shadow: 0 .3rem 1rem rgba($black, .3);
   }

   &:active {
    box-shadow:inset 0 .3rem 1rem rgba($black, .9);
    box-shadow: 0 .1rem .3rem rgba($black, .7);
    transform: scale(0.99);
   }

   &--hero {
      position: absolute;
      top: 55%;
      left: 15%;
   }

   &--services {
    position: relative;
    float: right;
    margin-right: 29%;
    margin-top: 39rem;
    }

    &--card {
        margin-top: 10rem;
    }

}
