.service-cards {
  margin: 4rem auto;
  position: relative;
  perspective: 190rem;
  -moz-perspective: 190rem;
  height: 45rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.8rem;
    box-shadow: $shadow;
    height: 45rem;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    width: 100%;
    transition: all 0.85s ease;

    &--front {
      background-color: white;
    }

    &--back {
      transform: rotateY(-180deg);

      &-1 {
        background: linear-gradient(
          to right bottom,
          rgba($blue-light, 0.85),
          rgba($blue-2, 0.85)
        );
      }
      &-2 {
        background: linear-gradient(
          to right bottom,
          rgba($blue-2, 0.85),
          rgba($blue, 0.85)
        );
      }
      &-3 {
        background: linear-gradient(
          to right bottom,
          rgba($blue-light, 0.85),
          rgba($blue-2, 0.85)
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__pic {
    background-size: cover;
    height: 20rem;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-radius: 0.5rem 0.5rem 0 0;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba($blue, 0.2),
          rgba($green, 0.2)
        ),
        url(../img/help.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba($blue-2, 0.9),
          rgba($green-light, 0.4)
        ),
        url(../img/solution.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba($black, 0.6),
          rgba($white, 0.2)
        ),
        url(../img/benefit.jpg);
    }

    &--icon {
      position: relative;
      top: 10%;
      left: 10%;
      transform: translate(-5%, -5%);
      font-size: 3rem;

      &-1 {
        color: inherit;
      }

      &-2 {
        color: $green;
      }

      &-3 {
        color: $white;
      }
    }
  }

  &__heading {
    font-size: 2rem;
    color: $white;
    line-height: 1.5;
  }

  &__heading-span {
    padding: 1rem 2rem;
    box-decoration-break: clone;

    &--1 {
      background: linear-gradient(
        to right bottom,
        rgba($blue-light, 0.8),
        rgba($green-light, 0.8)
      );
    }
    &--2 {
      background: linear-gradient(
        to right bottom,
        rgba($green-light, 0.8),
        rgba($blue-2, 0.8)
      );
    }
    &--3 {
      background: linear-gradient(
        to left bottom,
        rgba($blue, 0.8) 10%,
        rgba($green, 1)
      );
    }
  }

  &__details {
    margin-top: 2rem;
    color: $blue;
  }

  // Back of card
  &__cta {
    @include center;
    width: 90%;
    text-align: center;
  }

  &__back-heading {
    font-size: 2.1rem;
    color: $white !important
  }

  &__prg {
    color: white !important;
    line-height: 1.05;
  }

  &__price {
    color: white !important;
    font-size: 2rem !important;
    margin: 0 0 3rem 0;
  }
}
