.service-cards {
    padding:6rem;
    perspective: 190rem;
    -moz-perspective: 190rem;
    position: relative;
    
    &__side {
        border-radius: .8rem;
        box-shadow: $shadow;
        padding: 2rem;
        backface-visibility: hidden;

        &--front {
            height: 50rem;
        }

        &--back {
            transform: rotateY(-180deg);

            &-1 {
                background-image: linear-gradient(to right bottom,
                rgba($blue-light, 1), rgba($white, 1));
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }


    &__pic {
        background-size: cover;
        height: 20rem;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($blue, .2), rgba($green, .2)), url(/img/help.jpg);
        }

        &--icon {
            position: relative;
            top: 10%;
            left: 10%;
            transform: translate(-5%, -5%);
            font-size: 3rem;
            color: rgba($blue, .8);
        }
    }

    &__heading {
        position: absolute;
        top: 30%;
        font-size: 2rem;
        color: $white;
        text-align: right;
        line-height: 1.5;

    }

    &__heading-span { 
        padding: 1rem 1.5rem;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom,
            rgba($blue-light, .8),
            rgba($green-light, .8));
        }
    }
}