
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

    @include respond(big-desktop) {
        font-size: 62%;
    }
    @include respond(desktop) {
        font-size: 60%;
    }

    @include respond(tab-land) {
        font-size: 56.25%;         
    }

    @include respond(tab-port) {
        font-size: 50%;           
    }
}

body {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    background-color: $blue-light;
    width: .9rem;
  }

  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, $green, $green-dark);
    border-radius: 2rem;
  }
}



