@import url('https://fonts.googleapis.com/css?family=Raleway:700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');


body {
  font-size: 1.4rem;
  font-family: $font-1;
  font-weight: 300;
  color: $blue;
  font-stretch: semi-condensed;
}

::selection {
  color: $green;
  background-color: $blue;
}
