@import url('https://fonts.googleapis.com/css?family=Raleway:700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');


body {
  font-size: 1.6rem;
  font-family: $font-1;
  font-weight: 500;
  color: $blue;
  line-height: 1.8rem;
  font-stretch: semi-condensed;
}
