#navBar {
  display: block;
}
#navBarScrolled {
  background-color: $blue-2;
}

#main {
  min-height: 90vh;
}

#productSection {
  min-height: 100%;
  margin: 7rem 0;
  padding: 2rem 0;

  @include respond(big-desktop) {
    padding: 6rem 0;
  }

  @include respond(desktop) {
    padding: 0 0 8rem 0;
    margin: 3rem 0;
  }

  @include respond(tab-land) {
    padding: 0;
    margin: 0 0 7rem 0;
  }

  @include respond(tab-port) {
    margin-bottom: 15rem;
    margin-top: 16rem;
    }

}

#btnTop {
  position: relative;
  z-index: 1000;
}

#servicesSection {
  min-height: 193rem;
  
  @include respond(tab-port) {
    min-height: 240rem;
  }
}

#aboutSection {
  position: relative;
  margin-bottom: 10rem;
}

#footer {
  position: relative;
  background-color: $blue-2;
}
