#navBar {
  display: block;
}
#navBarScrolled {
  background-color: $blue-2;
}

#main {
  height: 95vh;
}

#productSection {
  height: 100%;
  margin: 17rem 0;
  padding: 4rem 0;
}

#btnTop {
  position: relative;
  z-index: 1000;
}

#servicesSection {
  height: 193rem;
  z-index: -1000;
}

#aboutSection {
  position: relative;
}

#footer {
  position: relative;
  background-color: $blue-2;
  padding-bottom: 5rem;
}
