#navBar {
  display: block;
}
#navBarScrolled {
  background-color: $blue-2;
}

#main {
  height: 95vh;
}

#productSection {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 16rem;
}

#btnTop {
  position: relative;
  z-index: 1000;
}

#servicesSection {
  height: 193rem;
  z-index: -1000;
}

#aboutSection {
  height: 100rem;
  position: relative;
}
